@model Tattoo_Shop.ViewModels.TattooListViewModel
@{
    ViewData["Title"] = "Tattoo Page";
}

<div class="text-center">
    <h1 class="display-4">Tattoos</h1>
</div>
<form asp-controller="Tattoo" asp-action="Search" method="get">
    <div class="form-actions no-color">
        <p>
            Zoek op product:
            <input asp-for="TattooSearch" />
            <input type="submit" value="Zoeken" class="btn btn-default" />
            <a asp-controller="Tattoo" asp-action="Index">volledige lijst</a>
        </p>
    </div>
</form>
<table>
    <tbody>
        <div class="container">
            <div class="row">
                @foreach (var item in Model.Tattoo)
                {<div class="card col-md-4" style="width: 18rem;">
                     <div class="card-body">
                         <h2 class="card-text text-center mb-1 mt-1">@item.Naam</h2>
                         <img src="~/img/Tattoos/@item.Foto" class="img-thumbnail img-fluid m-2">
                         <p>
                             <button class="btn btn-outline-success btn-lg btn-block m-2" type="button" data-toggle="collapse" data-target="#@item.Naam" aria-expanded="false" aria-controls="@item.Naam">
                                 Description
                             </button>
                         </p>
                         <div class="collapse" id="@item.Naam">
                             <div class="card card-body">
                                 <p>@item.Descriptie</p>
                             </div>
                         </div>
                         <div>
                             <h4 class="text-center mb-1 mt-1">Tattoo Artist : @item.Artist.Voornaam</h4>
                         </div>
                     </div>
                    </div>
                }
            </div>
        </div>
    </tbody>
</table>


