@model Tattoo_Shop.ViewModels.ArtistListViewModel
@{
    ViewData["Title"] = "Artist Page";
}
@foreach (var item in Model.Artists)
{
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="~/img/Artists/@item.Foto" class="img-thumbnail img-fluid m-2">
            </div>
            <div class="col m-5">
                <h2>@item.Voornaam @item.Achternaam</h2>
                <br />
                <p class="mb-2">@item.Descriptie</p>
                <br />
                <p class="mb-2"> Specialiteit: @item.Specialiteiten</p>
                <br />
                <p class="mb-2"> Email: @item.Email</p>
            </div>
        </div>
    </div>
}
