@model Tattoo_Shop.ViewModels.ProductDetailsViewmodel

<h1>@Model.Naam</h1>

<p>
    Prijs: @Model.Prijs
    <br />
    Merk: @Model.Merk
    <br />
    Beschrijving: @Model.Descriptie
</p>

@Html.ActionLink("Terug", "Index", "Product")